input::-moz-focus-inner {
    border: 0;
    padding: 0
}

html {
    font-family: "Helvetica Neue Light", arial, sans-serif;
    font-size: 10pt;
    color: #777777;
    overflow-y: scroll;
    background-color: #f5f5f5;
}

#pageContent {
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

a.filename {
    color: #ffc040;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

body {
    margin: 5px;
}

header {
    float: right;
    text-align: right;
    padding: 2px;
}

a.header {
    color: #CCCCCC;
}

h1 {
    float: left;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 0.25em;
    color: #555555;
}

h1 .titleText {
    color: #999999;
}

.tabs {
    layout: flow-horizontal;
    width: 100%;
}

.tabs li {
    width: 50%;
    text-align: center;
}

.tabs a {
    display: block;
    background-color: #f5f5f5;
    padding: 3px;
    margin: 1px;
}

#container {
    layout: flow-horizontal;
}

#contacts {
    width: 200px;
    display: none;
}

#events {
    layoutConstraints: wgrow;
}

#events ul li .title {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
}

#events ul li .emphasize {
    font-weight: bold;
}

#events ul li {
    background-color: #ffffff;
    padding: 0.75em;
    margin: 0.25em;
}

#events img {
    max-width: 100%;
}

#events pre {
    background-color: #ffffff;
}

#events .fieldLabel {
    font-weight: bold;
}

#events ul li.emptyMessage  {
    color: #999999;
    font-size: 1.5em;
}

.attachment {
    float: left;
    border: 1px solid #dddddd;
    width: 30%;
    padding: 0.25em;
    max-height: 400px;
    margin: 0.1em;
}

pre {
    overflow: hidden;
}

@media screen and (min-width: 500px) {
    .tabs {
        display: none;
    }

    #contacts {
        display: block;
    }
}