input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea:focus, input:focus {
    outline: 0;
}

textarea {
    box-sizing: border-box;
    display: block;
}

button {
    cursor: pointer;
}

html {
    font-family: "Helvetica Neue Light", arial, sans-serif;
    font-size: 10pt;
    color: #777777;
    overflow-y: scroll;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

ul {
    list-style-type: none;
}

body > section {
    margin: 5px;
}

header {
    display: block;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    layout: flow-horizontal-right;
}

header .action {
    padding: 10px;
    border-left: 1px solid #cccccc;
    display: block;
}

header .dropdown {
    float: left;
}

header .dropdown .action, header .dropdown.action {
    padding-right: 18px;
    margin-right: 10px;
    background-image: url('/assets/images/downarrow.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right center;
}

.dropdownContent {
    background-color: #ffffff;
    position: absolute;
    padding: 0 10px 10px;
    display: none;
    z-index: 10;
    border: 1px solid #cccccc;
    border-radius: 0 0 3px 3px;
    border-top: 0;
}

#apps a {
    display: block;
    margin-bottom: 10px;
}

#contacts .info {
    display: block;
    color: #999999;
    font-size: 9px;
}

#contactList a {
    padding-bottom: 5px;
    display: inline-block;
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    display: block;
    float: right;
}

nav a {
    border-right: 1px solid #cccccc;
}

nav a, nav span {
    display: block;
    padding: 10px;
    float: left;
}

nav a:last-child {
    border-right: 0 none;
}

nav a.selected {
    background-color: #f3f3f3;
}

.eventForm {
    background-color: #ffffff;
    width: 500px;
    border: 1px solid #cccccc;
    margin: 10px 0;
}

.eventForm .post {
    float: right;
    margin: 6px 5px 3px;
    background-color: #f3f3f3;
    border-radius: 0;
    border: 1px solid #cccccc;
    padding: 2px;
}

#eventFormFake section {
    float: left;
}

#eventFormReal {
    display: none;
}

#eventFormReal .eventFormMenu {
    background-color: #f3f3f3;
    border-top: 1px solid #cccccc;
    layout: flow-horizontal;
}

#eventFormReal .eventFormMenu a.intent {
    background-image: url('/assets/images/calendar.svg');
}

#eventFormReal .eventFormMenu a.message {
    background-image: url('/assets/images/message.svg');
}

#eventFormReal .eventFormMenu a {
    padding: 10px;
    border-right: 1px solid #cccccc;
    display: block;
    font-size: 10pt;

    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 30px;
}

#eventFormReal .eventFormMenu a.selected {
    background-color: #ffffff;
}

.eventForm section {
    padding: 5px;
    float: left;
}

.eventForm .text {
    width: 100%;
}

.eventForm .field, .eventForm .text {
    border: 0;
    margin: 5px;
}

.eventForm .field {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 20px;
}

.eventForm .dateInput {
    background-image: url('/assets/images/calendar.svg');
}

.eventForm .tagInput {
    background-image: url('/assets/images/tag.svg');
}

.eventForm .shareToInput {
    background-image: url('/assets/images/user.svg');
}

.eventForm textarea.text {
    width: 430px;
    height: 1.2em;
}

h1 {
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 0.25em;
    color: #555555;
}

h1 .titleText {
    color: #999999;
}

#container {
    clear: both;
}

.eventsContainer {
    layout: flow-horizontal;
}

.eventsContainer > div {
    layoutConstraints: distribute;
}

.events > .eventList.loadable {
    display: none;
}

ul.dayList > li.dayTemplate {
    background-color: #f3f3f3;
    padding: 2px 5px 5px 0;
    position: relative;
    border: 1px solid #ffffff;
    border-width: 1px 1px 0 1px;
}

ul.dayList > li.dayTemplate, ul.dayList ul.eventList {
    clear: both;
}

ul.tagList {
    float: left;
}

li.dayTemplate ul.eventList > li {
    float: left;
    width: 200px;
    margin: 2px 0 0 2px;
}

ul.eventTypeList > li {
    float: left;
}

ul.eventList > li {
    margin: 5px;
}

ul.eventList > li .body, .versions {
    padding: 0.25em 0.25em 0.25em 5px;
}

ul.tagList ul.eventList > li .body {
    max-height: 350px;
}

ul.eventList > li .title {
    display: block;
    padding-bottom: 8px;
    padding-top: 6px;
    padding-left: 5px;
    border-bottom: 1px solid #f3f3f3;
}

.events > ul.eventList > li .title {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #e5e5e5;
}

ul.eventList > li div.defaultTag, ul.tagList > li.defaultTag {
    padding-left: 6px;
}

ul.eventList > li div.defaultTag {
    background-color: #f3f3f3;
}

ul.tagList > li.defaultTag {
    background-color: #ffffff;
}

ul.tagList > li.defaultTag > div {
    left: 0;
    top: -4px;
    padding-left: 6px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 0 5px 50px 0;
    padding-top: 2px;
}

ul.tagList {
}

ul.tagList > li {
    float: left;
    background-color: #ffffff;
    position: relative;
    margin-left: 5px;
    margin-top: 7px;
}

ul.tagList ul.eventTypeList {
    background-color: #f3f3f3;
}

ul.dayList > li.dayTemplate .dateCategory {
    display: block;
    float: none;
    top: 0;
    left: 0;
    z-index: 1;
}

.dateCategory {
    text-align: center;
    width: 80px;
    float: left;
    background-color: #f4dD78;
    color: #000000;
    padding: 2px;
    font-size: 12px;
    border-radius: 9px;
    box-shadow: 1px 3px 3px 1px #999999;
    position: relative;
    left: -6px;
    top: 3px;
}

.future .dateCategory {
    background-color: #aabbFF;
}

ul.eventList > li .eventType, ul.eventTypeList > li > div {
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 20px;
}

ul.eventTypeList > li > div {
    background-color: #ffffff;
    background-position: right 5px center;
    margin-left: 2px;
    padding: 5px 25px 5px 5px;
    text-align: right;
}

ul.eventList > li span.message, ul.eventTypeList > li > div.message {
    background-image: url('/assets/images/message.svg');
}

ul.eventList > li span.intent, ul.eventTypeList > li > div.intent {
    background-image: url('/assets/images/calendar.svg');
}

ul.eventList > li span.email, ul.eventTypeList > li > div.email {
    background-image: url('/assets/images/mail.svg');
}

ul.eventList > li span.file, ul.eventTypeList > li > div.file {
    background-image: url('/assets/images/clip.svg');
}

ul.eventList > li .tag, ul.tagList > li .tag {
    background-image: url('/assets/images/tag.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 20px;
}

ul.tagList li .tag {
    border: 1px #e5e5e5;
    border-style: none solid solid none;
    background-color: #ffffff;
    border-radius: 0 5px 50px 0;
    background-position: 3px 3px;
    padding: 2px 13px 2px 22px;
    min-width: 38px;
}

ul.eventList > li div {
    background-color: #ffffff;
}

a.block {
    color: inherit;
}

a.block:hover {
    text-decoration: none;
}

.sheaf {
    display: block;
}

ul.eventList > li .versions {
    margin-left: 6px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    color: #999999;
    font-size: 8pt;
}

ul.eventList > li .versions2 {
    margin-left: 12px;
    border-top: none;
    clear: both;
}

ul.eventList > li .versions .left {
    float: left;
}

ul.eventList > li .versions .right {
    float: right;
}

ul.eventList > li .comments {
    margin: 0 0 8px 6px;
    background-color: #f3f3f3;
}

ul.tagList ul.eventList > li .comments {
    margin: 1px 0 0 0;
    background-color: #ffffff;
    padding: 5px;
}

ul.eventList > li .comments button {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    color: inherit;
    padding: 3px;
}

ul.eventList > li .comments button:hover {
    background-color: #eeeeee;
}

ul.eventList > li .comments button:active {
    background-color: #dddddd;
}

ul.eventList > li .comments span.controls {
    float: right;
    font-size: 9pt;
    margin-top: 2px;
    display: none;
    color: #999999;
}

ul.eventList > li .comments textarea, ul.eventList > li .comments .comment {
    padding: 0.3em;
    background-color: #ffffff;
    color: inherit;
    border: 0 solid #f3f3f3;
    border-top-width: 1px;
    font-size: 9pt;
}

ul.eventList > li .comments textarea {
    width: 100%;
    height: 2em;
    margin-top: 3px;
}

ul.eventList > li .comments .date {
    color: #CCCCCC;
}

ul.eventList > li .body a, ul.eventList > li .highlight, ul.eventList > li .comments a, .events > ul.eventList > li .title a {
    color: #FFC040;
}

ul.tagList ul.eventList > li .title {
     overflow: hidden;
     text-overflow: clip;
     white-space: nowrap;
 }

ul.eventList > li .time {
    padding-left: 14px;
    background-image: url('/assets/images/clock.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: -2px center;
}

ul.eventList > li .comments .content a {
    color: #1040ff;
}

ul.eventList pre.message {
    font-family: inherit;
    white-space: pre-wrap;
}

.now {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12px;
    color: #bbbbbb;
    border-bottom: 2px solid #bbbbbb;
    padding-bottom: 2px;
}

ul.dayList .now {
    border-top: 1px solid #ffffff;
    margin-top: 0;
}

.events img {
    max-width: 100%;
    max-height: 300px;
}

.events pre {
    background-color: #ffffff;
}

.events .fieldLabel {
    font-weight: bold;
}

ul.eventList > li.emptyMessage {
    color: #999999;
    font-size: 1.5em;
}

.attachment {
    float: left;
    border: 1px solid #dddddd;
    width: 30%;
    padding: 0.25em;
    max-height: 400px;
    margin: 0.2em;
}

pre {
    overflow: hidden;
}

@media screen and (min-width: 500px) {
    .tabs {
        display: none;
    }
}