@(title: String, email: String, content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">
        <link rel="stylesheet" media="screen" href="/virtualcss.css/assets/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="/virtualcss.js/assets/stylesheets/main.css" type="text/javascript"></script>
    </head>
    <body>
        <header>logged in as: @email</header>
        @content
    </body>
</html>
