@(title: String, email: String, content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/reset.css">
        <link rel="stylesheet" media="screen" href="/virtualcss.css/assets/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script src="/virtualcss.js/assets/stylesheets/main.css" type="text/javascript"></script>
        <script src="/assets/javascripts/tagHighlighter.js" type="text/javascript"></script>
        <script src="/assets/javascripts/eventBindings.js" type="text/javascript"></script>
        <script src="/assets/javascripts/displayFunctions.js" type="text/javascript"></script>
        <script src="/assets/javascripts/ajax.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/jquery.datetimepicker.css">
        <script src="/assets/javascripts/jquery.datetimepicker.js"></script>

        <script src="/assets/javascripts/handlebars-v2.0.0.js"></script>
        <script src="/assets/javascripts/jquery-ui.min.js"></script>
    </head>
    <body>
        <header>
            <div class="dropdown" id="appsDropdown">
                <a href="#" class="action">Timeline</a>
                <div id="apps" class="dropdownContent"><h1>Apps</h1>
                    <a href="">Project manager (coming soon!)</a>
                    <a href="">Timeline</a>
                </div>
            </div>
            <div class="dropdown" id="contactsDropdown">
                <a href="#" class="action">contacts</a>
                <div class="dropdownContent">
                    <slot></slot>
                </div>
            </div>
            <a href="/@email" class="action">@email</a>
            <a href="/settings" class="action">settings</a>
            <a class="action" href="https://dl.dropboxusercontent.com/u/8073199/ergle-client-assembly-0.1-SNAPSHOT.jar">
                download client</a>
        </header>

        @content

    </body>


    <script>
    $ ( document ).ready ( function ( ) {
    loadDocumentFragments ( ) ;
    } ) ;
    </script>

    <script>
    $ ( '.datetimepicker' ).datetimepicker ( ) ;
    </script>

</html>
