@(content: Html, queryString: String)

<div id="eventFormFake" class="eventForm">
    <section>
        <input class="text" tabindex="1" name="title" placeholder="create..."><br>
    </section>
    <button class="post" disabled>post</button>
    <div class="clear"></div>
</div>

<div id="eventFormReal" class="eventForm">

    <form method="post" action="/events/?@queryString">
        <input id="typeField" type="hidden" name="type">

        <section>
            <div id="messageFields" class="optional">
                <textarea class="text titleInput" tabindex="1" name="message" placeholder="enter message"></textarea>
            </div>

            <div id="intentFields" class="optional">
                <input class="text titleInput" tabindex="1" name="title" placeholder="enter title"><br>
                <input class="datetimepicker field dateInput" tabindex="4" type="datetime" name="date" placeholder="enter date/time"><br>
            </div>

            <input class="field tagInput" tabindex="2" name="tag" placeholder="enter tag">
            <input class="field shareToInput" tabindex="3" name="shareTo" placeholder="email or hub"><br>
            <div class="fileInputWrapper">
                <input type="file" name="file" size='1' class="fileInput" />
                <div class="field fileInputMask">click to attach files</div>
            </div>
            <div class="attachedFiles"></div>
            <br>
        </section>

        <button class="post" type="submit" tabindex="5">post</button>

    </form>
    <div class="clear"></div>

    <div class="eventFormMenu">
        <a id="messageChoice" class="message selected" href="">message</a>
        <a id="intentChoice" href="" class="intent">intent</a>
    </div>
</div>

@content
