@(owners: Array[String], queryString: String)

<table id="container">
    <thead>
        <tr>
        @for(owner <- owners) {
            <th>
                <h1><span class="titleText">timeline for: </span> <a title="@owner" href="/@owner">@owner</a></h1>
            </th>
        }
        </tr>
    </thead>
    <tbody class="dayList">

    </tbody>

</table>


@for((owner, count) <- owners.zipWithIndex) {
    <ul class="timeline" index="@count" size="@owners.size" href="/events/@owner?@queryString"></ul>
}